extends layout

block content
    include includes/back.pug

    article.grid-container
        img(src="/static/img/duck.jpg" alt="quizzical duck")
        h1= error.message
        h2 Status code: #{error.status}
        pre= error.stack